// ---API---

.api {
  margin-bottom: 100px;
}

.api__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .title {
    margin-bottom: 40px;
  }

  .text {
    width: 670px;
  }

  .text:first-of-type {
    margin-bottom: 25px;
  }

  .text:last-of-type {
    margin-bottom: 25px;
  }

  .submit_light {
    min-width: 282px;
  }
}

.api__content {
  background-image: url(../img/bg_api.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  padding-left: 510px;
  margin-left: -120px;
}
