.footer__logo {
  margin: auto;
  width: 147px;
  height: 40px;
  fill: #283645;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #283645;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-version) {
  .footer__logo {
    margin: 5px 0;
    align-self: flex-start;
  }
}

.footer__logo-svg {
  &--mobile {
    display: block;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: $desktop-version) {
  .footer__logo-svg {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}

.footer--index-page {
  display: none;
}

@media (min-width: $tablet-version) {
  .footer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70px;
  }
}
