.history {
  @include flex-column;
  align-items: center;
  padding-top: 43px;
  margin-bottom: 18px;
}

@media (min-width: $tablet-version) {
  .history {
    padding-top: 31px;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-version) {
  .history {
    padding-top: 76px;
    margin-bottom: 0;
  }
}

.history__author {
  margin-bottom: 15px;
}

@media (min-width: $tablet-version) {
  .history__author {
    margin-bottom: 38px;
  }
}

@media (min-width: $desktop-version) {
  .history__author {
    margin-bottom: 0;
  }
}

.history__author-name {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

@media (min-width: $tablet-version) {
  .history__author-name {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-version) {
  .history__author-name {
    font-size: 24px;
    margin-bottom: 4px;
  }
}

.history__author-data {
  display: none;
  text-align: center;
}

@media (min-width: $tablet-version) {
  .history__author-data {
    display: inline-block;
  }
}

@media (min-width: $desktop-version) {
  .history__author-data {
    font-size: 18px;
  }
}

@media (min-width: $tablet-version) {
  .history__container {
    @include flex-row;
    justify-content: space-between;
    order: -1;
  }
}

@media (min-width: $desktop-version) {
  .history__container {
    width: 100%;
    align-items: flex-start;
    margin-bottom: 27px;
  }
}

.history__text {
  width: 283px;
  text-align: center;
  line-height: 30px;
  color: #283645;
  margin: 0 0 33px;
}

@media (min-width: $tablet-version) {
  .history__text {
    order: -1;
    width: 620px;
    font-size: 18px;
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop-version) {
  .history__text {
    width: 690px;
    margin-bottom: 34px;
  }
}

.history__navigation {
  @include flex-row;
  justify-content: space-between;
  width: 64px;
}

@media (min-width: $desktop-version) {
  .history__navigation {
    display: none;
  }
}

.history__navigation-svg {
  fill: #bec3c7;

  &:hover {
    fill: #7e868f;
  }

  &:active {
    fill: #e9ebec;
  }

  &--active {
    fill: #ffffff;
    stroke: #283645;

    &:hover {
      fill: #ffffff;
      stroke: #283645;
    }
  }
}

.history__quotes-svg {
  display: none;
}

@media (min-width: $desktop-version) {
  .history__quotes-svg {
    display: flex;
    width: 79px;
    height: 63px;
    order: -2;
    fill: #efefef;
    margin-bottom: 49px;
  }
}

.history__arrow-left-svg {
  display: none;
}

@media (min-width: $desktop-version) {
  .history__arrow-left-svg {
    display: flex;
    width: 22px;
    height: 41px;
    margin-top: 27px;
    fill: #283645;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.history__arrow-right-svg {
  display: none;
}

@media (min-width: $desktop-version) {
  .history__arrow-right-svg {
    display: flex;
    width: 22px;
    height: 41px;
    margin-top: 27px;
    fill: #283645;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.history__first-block,
.history__third-block {
  display: none;
}

.history__second-block {
  @include flex-column;
  align-items: center;
}
