// ---NEWS---

.news {
  margin-bottom: 100px;
  padding: 44px 0;
  background-color: #EF081F;

  .title {
    width: 340px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .text {
    color: #ffffff;
  }
}

.news__container {
  display: flex;
  justify-content: flex-end;
  background-image: url(../img/bg_news.png);
  background-repeat: no-repeat;
  background-position: left center;
}

@media (max-width: $tablet) {
  .news__container {
    justify-content: space-between;
    background-image: none;
  }
}

.news__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 425px;
  margin-right: 50px;
}

.news__social_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 230px;
  height: 230px;
}

.news__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;

  &:hover {
    background-color: #ffffff;

    .news__social_icon {
      fill: #EF081F;
    }
  }
}

.news__social_icon {
  fill: #ffffff;
}
