// ---PARTNER---

.partner {
  display: flex;
  width: 100%;

  .title {
    margin-bottom: 34px;
  }

  .text {
    max-width: 610px;


    &:not(:last-of-type) {
      margin-bottom: 23px;
    }

    &:last-of-type {
      margin-bottom: 51px;
    }
  }

  .button_light {
    min-width: 282px;
  }
}

@media (max-width: $tablet) {
  .partner {
    flex-direction: column;
  }
}

@media (max-width: $mobile) {
  .partner {

    .title {
      margin-bottom: 24px;
    }
    .text {
      &:last-of-type {
        margin-bottom: 32px;
      }
    }
  }
}

.partner__container_col {
  min-height: 710px;

  &:first-child {
    width: 50%;
    box-sizing: border-box;
    padding-right: 190px;
    background-color: #EF081F;
    background-image: url(../img/bg_partner.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
  }

  &:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 50%;
    padding: 140px 40px 140px 195px ;
    background-color: #F9F9F9;
  }
}

@media (max-width: $tablet) {
  .partner__container_col {
    min-height: 570px;
    &:first-child {
      width: 100%;
      padding: 0;
      background-position: center;
      background-size: 453px 465px;
    }
    &:last-child {
      width: 100%;
      padding: 67px 80px 85px 88px;
    }
  }
}

@media (max-width: $mobile) {
  .partner__container_col {
    min-height: 235px;
    &:first-child {
      width: 100%;
      padding: 0;
      background-position: center;
      background-size: 188px 193px;
    }
    &:last-child {
      width: 100%;
      padding: 39px 0 69px;
      align-items: center;

      .text {
        width: 290px;
        text-align: center;
      }
    }
  }
}
