.photos-users {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.photos-users__custom-data {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding-top: 16px;
  padding-left: 17px;
}

@media (min-width: $tablet-version) {
  .photos-users__custom-data {
    padding-top: 21px;
    padding-left: 27px;
  }
}

.photos-users__signature {
  width: 250px;
  text-align: center;
  line-height: 30px;
}

@media (min-width: $tablet-version) {
  .photos-users__signature {
    width: 436px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-version) {
  .photos-users__signature {
    width: 570px;
  }
}

.photos-users__user-name {
  font-weight: 700;
  margin: 0;
}

.photos-users__user-comment {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.photos-users__time-of-publication {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

.photos-users__likes {
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 31px;
  padding-bottom: 20px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: left 6px;
}

@media (min-width: $tablet-version) {
  .photos-users__likes {
    width: 241px;
    line-height: 29px;
    padding-left: 0;
    background-position: right 8px;

    &--panorama {
      position: absolute;
      width: 150px;
      background-position: 107px 8px;
      top: 21px;
      right: 0;
    }
  }
}

.photos-users__picture {
  line-height: 0;
}

.program-interface__image {
  width: 100%;
}

.photos-users__image {
  width: 100%;

  &--panorama {
    width: 320;
    height: 137;
  }
}

@media (min-width: $tablet-version) {
  .photos-users__image--panorama {
    min-width: 660px;
    height: 509px;
  }
}

@media (min-width: $desktop-version) {
  .photos-users__image--panorama {
    width: 100%;
    height: auto;
  }
}

.photos-users__panorama-label {
  position: absolute;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  top: 0;
  right: 20px;
  width: 140px;
  height: 36px;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0;
  background-color: #d22856;
}

@media (min-width: $tablet-version) {
  .photos-users__panorama-label {
    top: 56px;
    right: 20px;
  }
}

@media (min-width: $desktop-version) {
  .photos-users__panorama-label {
    top: 53px;
    right: 130px;
  }
}

.photos-users__last-call {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 44px;
}

@media (min-width: $tablet-version) {
  .photos-users__last-call {
    font-size: 18px;
    padding-top: 42px;
    padding-bottom: 68px;
  }
}

@media (min-width: $desktop-version) {
  .photos-users__last-call {
    padding-top: 7px;
    padding-bottom: 64px;
  }
}

.photos-users__last-call-item {
  line-height: 30px;
  margin: 0;
}

.photos-users__link {
  display: flex;
}
