// ---POP UP---

.popup {
  .submit_light {
    width: 100%;
    min-height: 64px;
    font-size: 20px;
    margin-bottom: 22px;
  }
}

.popup__login,
.popup__registration,
.popup__feedback {
  position: fixed;
  z-index: 2;
  flex-direction: column;
  box-sizing: border-box;
  width: 360px;
  padding: 30px 40px 40px;
  background-color: #F7F7F7;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.25);
  // opacity: 0;
  -webkit-transition: opacity .5s, top .5s;
  -moz-transition: opacity .5s, top .5s;
  -ms-transition: opacity .5s, top .5s;
  -o-transition: opacity .5s, top .5s;
  transition: opacity .5s, top .5s;
}

.popup__login {
  top: 20px;
  // margin-top: px;
  left: 20px;
  // margin-left: px;
  right: 0;
  min-height: 550px;
}

.popup__registration {
  top: 20px;
  // margin-top: px;
  left: 400px;
  // margin-left: px;
  right: 0;
  min-height: 600px;
}

.popup__feedback  {
  top: 0px;
  // margin-top: px;
  left: 780px;
  // margin-left: px;
  right: 0;
  min-height: 600px;

  .popup__text:last-of-type {
    margin: 0;
  }
}

.popup__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6666 10L19.9999 0.666664L19.3333 0L9.99993 9.33334L0.666664 7.12369e-05L0 0.666735L9.33327 10L4.52807e-06 19.3333L0.666669 19.9999L9.99993 10.6667L19.3333 20L19.9999 19.3333L10.6666 10Z' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.popup__title {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #5A5A5A;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__label {
  display: flex;
  flex-wrap: wrap;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-bottom: 40px;
  }
}

.popup__label_title {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
  margin-right: auto;
  margin-bottom: 7px;
}

.popup__label_error {
  font-size: 12px;
  line-height: 150%;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FF3501;
  margin-bottom: 7px;
}

.popup__input,
.popup__textarea {
  width: 100%;
  min-height: 45px;
  box-sizing: border-box;
  padding: 0 20px;
  background: #FFFFFF;
  border: none;
  font-size: 16px;
  line-height: 150%;
  color: #595959;
}

.popup__input:focus,
.popup__textarea:focus {
  border: 1px solid #1DA1F2;
}

.popup__input:invalid,
.popup__input_invalid {
  border: 1px solid #FF3501;
}

.popup__textarea {
  resize: none;
  width: 280px;
  height: 93px;
  box-sizing: border-box;
}

.popup__text {
  margin: 0 0 30px;
  font-size: 12px;
  line-height: 140%;
  color: #808080;

  a {
    color: #808080;
  }
}

.popup__link {
  display: flex;
  width: 100%;
  font-size: 14px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #808080;
  margin-right: auto;

  &:not(:last-of-type) {
    margin-bottom: 22px;
  }
}
