.why-pink {
  background-color: #f2f2f2;
}

.why-pink__questions-list {
  width: 100%;
  background-color: #ffffff;
  line-height: 29px;
}

.why-pink__question {
  text-align: center;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
}

@media (min-width: $tablet-version) {
  .why-pink__question {
    font-size: 40px;
    line-height: 49px;
    word-spacing: -3px;
  }
}

@media (min-width: $desktop-version) {
  .why-pink__question {
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -1px;
    word-spacing: 1px;
  }
}

.why-pink__benefits-list {
  list-style: none;
}

.why-pink__benefit-header {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
}

@media (min-width: $desktop-version) {
  .why-pink__benefit-header {
    font-size: 30px;
    line-height: 30px;
    width: 215px;
    margin-bottom: 25px;

    &--third {
      width: 225px;
    }
  }
}

.why-pink__benefit-paragraph {
  color: #283645;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  width: 260px;
}

@media (min-width: $tablet-version) {
  .why-pink__benefit-paragraph {
    text-align: left;
    width: 310px;
  }
}

@media (min-width: $desktop-version) {
  .why-pink__benefit-paragraph {
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    &--first {
      width: 250px;
    }

    &--second {
      width: 240px;
    }

    &--third {
      width: 245px;
    }
  }
}

.why-pink__benefits-image {
  width: 157px;
  height: 320px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 40px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }
}

@media (min-width: $tablet-version) {
  .why-pink__benefits-image {
    width: 268px;
    height: 481px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }
}

@media (min-width: $desktop-version) {
  .why-pink__benefits-image {
    width: 100%;
    height: 302px;
    background-image: url("../img/iphone-screen-1-desktop@1x.png"), url("../img/iphone-screen-2-desktop@1x.png"), url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: left top, center top, right top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png"), url("../img/iphone-screen-2-desktop@2x.png"), url("../img/iphone-screen-3-desktop@2x.png");
      background-size: 292px auto;
    }
  }
}

.why-pink__last-benefit {
  display: none;
  color: #283645;
  background-color: #ffffff;
}

@media (min-width: $tablet-version) {
  .why-pink__last-benefit {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $desktop-version) {
  .why-pink__last-benefit {
    background-color: #f2f2f2;
    font-size: 18px;
  }
}

.why-pink__last-benefit-header {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  margin: 0 0 10px 0;
}

@media (min-width: $desktop-version) {
  .why-pink__last-benefit-header {
    margin-bottom: 20px;
    letter-spacing: 1px;
    word-spacing: -3px;
  }
}

.why-pink__last-benefit-text {
  line-height: 23px;
  margin: 0 0 14px 0;
}

@media (min-width: $desktop-version) {
  .why-pink__last-benefit-text {
    line-height: 31px;
    margin-bottom: 31px;
  }
}

.why-pink__last-benefit-image {
  position: relative;
  width: 238px;
  height: 276px;
}

@media (min-width: $desktop-version) {
  .why-pink__last-benefit-image {
    width: 298px;
    height: 345px;
  }
}

.why-pink__last-benefit-svg {
  width: 238px;
  height: 276px;
}

@media (min-width: $desktop-version) {
  .why-pink__last-benefit-svg {
    width: 298px;
    height: 345px;
  }
}

.why-pink__24hours {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -42px;
  left: 19px;
  box-sizing: border-box;
  padding-top: 6px;
  width: 202px;
  height: 202px;
  color: #d22856;
  font-size: 96px;
  font-weight: 700;
  line-height: 149.47px;
  border-radius: 100%;
  border: 14px solid #d22856;
}

@media (min-width: $desktop-version) {
  .why-pink__24hours {
    top: -50px;
    left: 22px;
    width: 253px;
    height: 253px;
    font-size: 120px;
    border-width: 18px;
    padding-top: 27px;
  }
}

.why-pink__last-benefit-link {
  color: #d22856;
}

.why-pink__new-line {
  display: inline;
}

@media (min-width: $tablet-version) {
  .why-pink__new-line {
    display: block;
  }
}

@media (min-width: $desktop-version) {
  .why-pink__new-line {
    display: inline;
  }
}
