// ---CHECKER---

.checker {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    margin-bottom: 30px;
  }

  .subtitle {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
    text-transform: none;
    margin-bottom: 18px;
  }

  .text {
    font-size: 14px;
    line-height: 130%;
    color: #595959;
  }

  &>.text {
    margin-bottom: 18px;
  }

  .form {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 38px;
  }

  .main__checkbox_label {
    margin-left: 27px;

    &:after {
      left: -27px;
    }
  }

  .button_red {
    min-width: 116px;
  }
}

.checker_item_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;

  .input {
    width: 34px;
    padding: 0;
    text-align: center;

    &.center {
      width: 40px;
      margin: 0 10px;
    }
  }
}

.checker__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checker__export_label {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 47px;
  min-width: 150px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 15px;
  background-color: #4995FF;
  border-radius: 3px;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 15px;
    height: 47px;
    background-color: #3984ED;
    background-image: url("data:image/svg+xml,%3Csvg width='3' height='19' viewBox='0 0 3 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' fill='white'/%3E%3Ccircle cx='1.5' cy='9.5' r='1.5' fill='white'/%3E%3Ccircle cx='1.5' cy='17.5' r='1.5' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
  }

  .input {
    margin: 0 12px;
  }
}

.checker__input_field {
  width: 555px;
  height: 200px;
  box-sizing: border-box;
  padding: 14px 28px 10px 18px;
  resize: none;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  font-size: 13px;
  line-height: 140%;
  color: #666666;
  margin-bottom: 25px;
  margin-right: 30px;
}

.checker__checkbox_container {
  margin-bottom: 28px;
}

.checker__result {
  display: flex;
  flex-direction: column;
  width: 555px;
}

.checker__result_title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  color: #595959;
}

.checker__output_field {
  width: 555px;
  height: 250px;
  box-sizing: border-box;
  padding: 14px 28px 10px 18px;
  resize: none;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  font-size: 13px;
  line-height: 140%;
  color: #666666;
}

.checker__copy,
.checker__result_download {
  font-size: 14px;
  line-height: 130%;
  color: #EF081F;
  text-decoration: none;
  border: none;
  background-color: #ffffff;
}

.checker__result_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.checker__result_container {
  display: flex;
  justify-content: space-between;
}

.checker__copy {
  margin-left: auto;
  margin-right: 30px;
}
