// ---GROUP---

.group {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 990px;
  margin-top: 0;
  margin-left: -495px;
  margin-top: -295px;
  box-sizing: border-box;
  z-index: 12;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  padding: 40px 50px 50px;

  .main__coment_text {
    width: 100%;

  }

  .input {
    width: 420px;

    &:disabled {
      @include font_Ubuntu;
      padding: 0;
      border: none;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: #595959;
    }
  }
}

.group__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.group__tbody {
  height: 400px;
}

.group__rename,
.group__submit {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  font-size: 14px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #595959;
  margin-left: 20px;
  margin-right: auto;
}

.group__type {
  width: 90px;
  box-sizing: border-box;
  padding-left: 27px;
}

.group__ip {
  width: 120px;
}

.group__https {
  width: 60px;
}

.group__socks {
  width: 65px;
}

.group__log {
  width: 115px;
}

.group__pas {
  width: 115px;
}

.group__coment {
  flex-grow: 1;
}


.group__coment_text {
  width: 320px;
  height: 35px;
  box-sizing: border-box;
  padding: 10px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  resize: none;
  border: none;
  color: #333333;
  background-color: transparent;
}

.group__coment_text:focus {
  border: 1px solid #B3A4FF;
  padding-left: 14px;
  padding: 9px 13px 0;
}

.group__coment_text::placeholder {
  text-align: left;
  opacity: 1;
  color: #333333;
}

.group__coment_text:focus::placeholder {
  color: transparent;
}

.group__coment_label {
  display: none;
}

.group__coment_text:not(:focus):hover +.group__coment_label {
  display: block;
  width: 320px;
  min-height: 70px;
  padding: 13px 15px 13px 22px;
  position: absolute;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #524B4B;
  font-size: 13px;
  line-height: 140%;
  color: #FFFFFF;
  z-index: 13;
}

.group__coment_text:not(:focus):hover + .group__coment_label::after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -5px;
  left: 160px;
  background: #524B4B;
  transform: rotate(-45deg);
}

.group__coment_off {
  visibility: hidden;
}
