// ---MY PROXY---

.my_proxy {
  width: 100%;

  .title {
    margin-bottom: 30px;
  }
}

.my_proxy__navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.my_proxy__navigation  .input {
  display: none;
}

.my_proxy__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.my_proxy__navigation_item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-top: 2px;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:nth-of-type(6) {
    margin-right: auto;
  }
}

.my_proxy__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35px;
  min-width: 100px;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 1px solid #BABABA;
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #595959;

  &:hover {
    background-color: #FAFAFA;
    border: 1px solid #BABABA;
    color: #EF081F;

    .my_proxy__icon {
      fill: #EF081F;
    }
  }
}

.show__filter {
  min-width: 35px;
  padding: 0;
}

.show__prolong {
  color: #EF081F;
  border-color: #EF081F;
}

.show__buy {
  background-color: #EF081F;
  border: none;
  color: #FFFFFF;
}

.my_proxy__icon {
  fill: #B3B3B3;
}

.my_proxy__link_active {
  border: 1px solid #EF081F;
  background-color: #EF081F;
  color: #FFFFFF;

  &:hover {
    border: 1px solid #EF081F;
    background-color: #EF081F;
    color: #FFFFFF;

    .my_proxy__icon {
      fill: #FFFFFF;
    }
  }

  .my_proxy__icon {
    fill: #FFFFFF;
  }
}

.my_proxy__type_select {
  @include font_Ubuntu;
  width: 65px;
  height: 24px;
  box-sizing: border-box;
  padding-left: 8px;
  appearance: none;
  font-size: 14px;
  line-height: 130%;
  color: #999999;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 3px;
}

.my_proxy__check {
  width: 52px;
  padding-left: 17px;
}

.my_proxy__type {
  width: 90px;
}

.my_proxy__country {
  width: 73px;
}

.my_proxy__port {
  width: 120px;
}

.my_proxy__https {
  width: 60px;
}

.my_proxy__protocol {
  width: 67px;
}

.my_proxy__login {
  width: 115px;
}

.my_proxy__pas {
  width: 115px;
}

.my_proxy__date {
  width: 70px;
}

.my_proxy__coment {
  width: 120px;
}

.my_proxy__verification {
  width: 100px;
}

.my_proxy__autoprolong {
  width: 95px;
}

.my_proxy__hide {
  flex-grow: 1;

  button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 12px;
    line-height: 140%;
    color: #595959;
  }
}

.my_proxy__tbody {
  max-height: calc(100vh - 270px);

  .my_proxy__login,
  .my_proxy__pas {
    span {
      width: 95px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: left;
    }
  }

  .my_proxy__date {
    color: #4995FF;
  }

  .my_proxy__connected {

    span {
      position: relative;
      padding-left: 12px;
      line-height: 100%;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 6px;
        height: 6px;
        margin-top: -3px;
        background-color: #4995FF;
        border-radius: 50%;
      }
    }
  }

  .my_proxy__disconnected{

    span {
      position: relative;
      padding-left: 12px;
      line-height: 100%;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 6px;
        height: 6px;
        margin-top: -3px;
        background-color: #FF3501;
        border-radius: 50%;
      }
    }
  }

  .my_proxy__working {
    color: #4995FF;
  }

  .my_proxy__not_working {
    color: #FF3501;
  }
}


.my_proxy__row {

  &:hover {
    background-color: #F7F7F7;

    &:first-child {
      border-top: 1px solid #E6E6E6;
    }
  }
}

.my_proxy__tfoot {
  .main__footer_col {
    &:first-child {
      margin-right: auto;
    }
  }
}

.my_proxy__footer_link {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #666666;
  text-decoration: none;

  .my_proxy__icon {
    margin-right: 7px;
  }
}


// ---filter---

.my_proxy__filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

  .main__checkbox_label {
    margin-left: 27px;

    &:after {
      left: -27px;
    }
  }

  .subtitle {
    margin-bottom: 17px;
  }

  .button_red {
    margin-right: 20px;
  }

  .button_white {
    margin-right: auto;
  }
}

.my_proxy__filter_form > .my_proxy__filter_row:first-child {
  margin-bottom: 12px;
}

.my_proxy__filter_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.my_proxy__filter_col {
  display: flex;
  flex-direction: column;
}

.my_proxy__filter_col_active {
  width: 260px;

  .my_proxy__filter_container {
    min-width: 90px;
    box-sizing: border-box;

    &:nth-child(1) {
      margin-right: 20px;
      margin-bottom: 13px;
    }
    &:nth-child(2) {
      margin-right: auto;
    }
    &:nth-child(3) {
      margin-right: 20px;
    }
    &:nth-child(4) {
      margin-right: auto;
    }
  }
}

.my_proxy__filter_col_version {
  width: 175px;

  .my_proxy__filter_container {
    min-width: 55px;
    box-sizing: border-box;

    &:nth-child(1) {
      margin-right: 20px;
      margin-bottom: 13px;
    }
    &:nth-child(2) {
      margin-right: auto;
    }
    &:nth-child(3) {
      margin-right: auto;
    }
  }
}

.my_proxy__filter_col_type {
  width: 70px;

  .my_proxy__filter_container {

    &:nth-child(1) {
      margin-right: auto;
      margin-bottom: 13px;
    }
    &:nth-child(2) {
      margin-right: auto;
    }
  }
}

.my_proxy__filter_col_coment {

  .my_proxy__filter_row {
    flex-direction: column;

    .my_proxy__filter_container {

      &:nth-child(1) {
        margin-right: auto;
        margin-bottom: 13px;
      }
    }
  }
}

.my_proxy__filter_col_autoprolong {

  .my_proxy__filter_row {
    flex-direction: column;

    .my_proxy__filter_container {

      &:nth-child(1) {
        margin-right: auto;
        margin-bottom: 13px;
      }
    }
  }
}

.my_proxy__filter {

  .select {
    min-width: 215px;
  }

  .select__label:first-child {
    margin-bottom: 20px;
  }
}

.my_proxy__filter .my_proxy__filter_select,
.my_proxy__filter .select2-container,
.my_proxy__filter .select2-selection__rendered {
  width: 215px !important;
}

// ---choose---

.my_proxy__choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

  .link {
    text-decoration: none;
    color: #FF151F;
  }

  .text {
    margin-right: 13px;

    &.last {
      margin-right: 8px;
    }
  }

  .select_label {
    flex-direction: row;
    align-items: center;
  }

  .select,
  .select2-container,
  .select2-selection__rendered {
    min-width: 125px !important;
  }

  .form {
    flex-wrap: nowrap;
  }

  .my_proxy__choose_group {
    margin-right: 30px;

    .select_label {
      margin-right: 20px;
    }
  }

  .search {
    margin-right: 25px;

    .select_label:last-of-type {
      z-index: 0;
      position: relative;
      margin-left: -4px;

    }

    .select_label:last-of-type::after {
      content: '';
      position: absolute;
      height: 26px;
      width: 1px;
      top: 4px;
      left: 5px;
      background-color: #D9D9D9;
    }

    .input {
      z-index: 0;
      width: 210px;
      margin-right: 20px;
      box-sizing: border-box;
      padding-left: 16px;
      border-radius: 0 3px 3px 0;
      border-left: none;
      font-size: 13px;
      color: #666666;
    }
  }

  .icon_container {
    display: flex;
    align-items: center;
    position: relative;

    &:hover::before {
      @include font_Ubuntu;
      content: 'Поиск списком помогает найти нужные прокси, используя множество параметров или список из прокси';
      position: absolute;
      left: -225px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      box-sizing: border-box;
      width: 210px;
      padding: 20px 24px 24px 28px;
      border-radius: 5px;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
      background-color: #524B4B;
      color: #FFFFFF;
      font-size: 13px;
      line-height: 130%;
    }

    &:hover::after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      left: -20px;
      background-color: #524B4B;
      transform: rotate(-45deg);
    }

    .icon {
      fill: #CCCCCC;
    }
  }
}

// ---edit---

.my_proxy__edit {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;

  .main__checkbox_label {
    margin-top: 7px;
    margin-left: 27px;

    &:after {
      left: -27px;
    }
  }

  .radio_label {
    margin-left: 27px;

    &:before {
      left: -27px;
    }
  }
}

.my_proxy__edit_nav {
  display: flex;
  flex-direction: column;
  width: 180px;
  box-sizing: border-box;
  margin: 0 25px 0 0;
  padding: 0;
}

.my_proxy__edit_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
  background-color: #FAFAFA;
  border: 1px solid #D9D9D9;
  min-height: 34px;
  font-size: 14px;
  line-height: 140%;
  color: #666666;
}

.my_proxy__edit_link_active {
  background-color: #FFFFFF;
  border-left: 3px solid #FF151F;
  color: #333333;
}

.my_proxy__edit_nav .main__input {
  display: none;
}

.my_proxy__edit_login {
  display: flex;

  .form {
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    width: 615px;
    margin-right: 30px;

    .button_white {
      min-width: 135px;
    }

    .input {
      min-width: 235px;
    }
  }
}

.my_proxy__edit_comment {
  display: flex;
  align-items: center;

  .form {

    .input {
      min-width: 235px;
      margin-right: 20px;
    }

    button {
      margin-right: 20px;

      &:last-child {
        min-width: 135px;
      }
    }
  }
}

.my_proxy__edit_type {
  display: flex;
  align-items: center;

  .my_proxy__item_container {
    display: flex;
    align-items: center;

    &:first-of-type {
      margin-right: 30px;
    }
    &:last-of-type {
      margin-right: 40px;
    }
  }

  .button_red {
    min-width: 250px;
  }
}

// ---auth---

.my_proxy__auth {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;

  .form {
    justify-content: flex-start;

    .my_proxy__item_container:first-of-type {
      margin-right: 25px;
    }

    .my_proxy__item_container:last-of-type {
      margin-right: 55px;
    }

    &:first-of-type {
      margin-right: 50px;
    }
  }

  .radio_label {
    margin-left: 27px;

    &:before {
      left: -27px;
    }
  }

  .button_red {
    min-width: 115px;
  }

  .button_white {
    min-width: 135px;
  }

  .input {
    min-width: 235px;
    margin-right: 20px;
  }
}

// ---export---

.my_proxy__export {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;

  .form {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .my_proxy__export_row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    &:first-of-type {
      margin-bottom: 20px;
    }
  }

  .my_proxy__item_container {
    display: flex;
    align-items: center;

    &:nth-child(1) {
      margin-right: 35px;
    }

    &:nth-child(2)  {
      margin-right: 28px;
    }

    &:nth-child(3)  {
      margin-right: 47px;
    }

    .radio_label {
      margin-left: 27px;

      &:before {
        left: -27px;
      }
    }
  }

  .input {
    width: 34px;
    padding: 0;
    text-align: center;

    &.center {
      width: 40px;
      margin: 0 10px;
    }
  }

  .main__checkbox_label {
    margin-left: 27px;

    &:after {
      left: -27px;
    }
  }

  .button_red {
    min-width: 116px;
    margin-right: 20px;
  }

  .button_white {
    min-width: 136px;
  }
}

.my_proxy__export_label {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 47px;
  min-width: 150px;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 15px;
  background-color: #4995FF;
  border-radius: 3px;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 15px;
    height: 47px;
    background-color: #3984ED;
    background-image: url("data:image/svg+xml,%3Csvg width='3' height='19' viewBox='0 0 3 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='1.5' cy='1.5' r='1.5' fill='white'/%3E%3Ccircle cx='1.5' cy='9.5' r='1.5' fill='white'/%3E%3Ccircle cx='1.5' cy='17.5' r='1.5' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
  }

  .input {
    margin: 0 12px;
  }
}

// ---prolong---


.my_proxy__prolong {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;

  .select,
  .select2-container,
  .select2-selection__rendered {
    min-width: 125px !important;
  }

  .select_label {
    margin-right: 20px;
  }

  .button_red {
    min-width: 180px;
    margin-right: 20px;
  }

  .button_white {
    min-width: 150px;
  }
}
