/*wrapper*/
.wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-version) {
  .wrapper {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-version) {
  .wrapper {
    width: 940px;
    margin: 0 auto;
  }
}

/*grid-for-menu*/
.grid-for-menu {
  @include flex-column;
  align-items: center;
}

@media (min-width: $desktop-version) {
  .grid-for-menu {
    flex-direction: row;
    justify-content: space-between;
  }
}

.grid-for-menu__head {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-version) {
  .grid-for-menu__head {
    width: 100vw;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-menu__head {
    width: auto;
    margin-right: 80px;
  }
}

.grid-for-menu__head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 66px;
  width: 620px;
}

@media (min-width: $tablet-version) {
  .grid-for-menu__head-wrapper {
    min-height: 109px;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-menu__head-wrapper {
    width: 100%;
  }
}

.grid-for-menu__item {
  min-height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 19px;
}

@media (min-width: $tablet-version) {
  .grid-for-menu__item {
    padding-top: 16px;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-menu__item {
    width: auto;
    padding-top: 22px;
  }
}

.grid-for-menu__container {
  display: flex;
  width: 100%;
}

@media (min-width: $tablet-version) {
  .grid-for-menu__container {
    width: 100vw;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-menu__container {
    width: auto;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.grid-for-menu__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: $desktop-version) {
  .grid-for-menu__list {
    max-width: 620px;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
}

/*grid-for-description*/
.grid-for-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -67px;

  &--index-page {
    padding-top: 494px;
  }

  &--photo-page {
    box-sizing: border-box;
    padding-top: 97px;
    min-height: 239px;
  }

  &--form-page {
    box-sizing: border-box;
    padding-top: 97px;
    min-height: 239px;
  }
}

@media (min-width: $tablet-version) {
  .grid-for-description {
    width: auto;

    &--index-page {
      padding-top: 200px;
      margin-top: -110px;
      margin-bottom: 47px;
      align-items: flex-start;
    }

    &--photo-page {
      padding-top: 179px;
      margin-top: -110px;
    }

    &--form-page {
      padding-top: 179px;
      margin-top: -110px;
    }
  }
}

@media (min-width: $desktop-version) {
  .grid-for-description {
    margin-top: -110px;

    &--index-page {
      padding-top: 215px;
      margin-bottom: 0;
      align-items: flex-start;
    }

    &--photo-page {
      padding-top: 173px;
    }

    &--form-page {
      padding-top: 173px;
    }
  }
}

.grid-for-description__download {
  @include flex-column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-version) {
  .grid-for-description__download {
    width: 300px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-description__download {
    margin-left: 0;
    padding-top: 3px;
  }
}

.grid-for-description__slogan {
  padding-bottom: 35px;
}

@media (min-width: $tablet-version) {
  .grid-for-description__slogan {
    padding-bottom: 31px;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-description__slogan {
    padding-bottom: 53px;
  }
}

.grid-for-description__platform {
  display: flex;
  flex-direction: column;
  width: 240px;
}

@media (min-width: $tablet-version) {
  .grid-for-description__platform {
    width: auto;
    align-items: center;
  }
}

.grid-for-description__button {
  align-self: stretch;
  margin-bottom: 35px;
}

@media (min-width: $tablet-version) {
  .grid-for-description__button {
    margin-bottom: 48px;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-description__button {
    margin-bottom: 69px;
  }
}

.grid-for-description__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 13px;
}

@media (min-width: $tablet-version) {
  .grid-for-description__icons {
    margin-bottom: 28px;
    width: 207px;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-description__icons {
    margin-bottom: 47px;
  }
}

.grid-for-description__text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.grid-for-description__signature {
  width: 250px;
}

@media (min-width: $tablet-version) {
  .grid-for-description__signature {
    width: 400px;

    &--form-page {
      width: 500px;
    }
  }
}

@media (min-width: $desktop-version) {
  .grid-for-description__signature {
    &--form-page {
      width: 800px;
    }
  }
}

/*grid-for-why-pink*/
.grid-for-why-pink {
  @include flex-column;
  align-items: center;
  justify-content: center;
}

.grid-for-why-pink__questions-list {
  padding-top: 40px;
}

@media (min-width: $tablet-version) {
  .grid-for-why-pink__questions-list {
    padding-top: 0;
    padding-bottom: 40px;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-why-pink__questions-list {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.grid-for-why-pink__questions-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-for-why-pink__question {
  margin: 0 0 30px 0;

  &--second-question {
    margin: 0 0 10px 0;
  }
}

@media (min-width: $tablet-version) {
  .grid-for-why-pink__question {
    margin: 0;

    &--second-question {
      width: 450px;
    }
  }
}

@media (min-width: $desktop-version) {
  .grid-for-why-pink__question {
    width: auto;

    &--second-question {
      width: 450px;
    }
  }
}

.grid-for-why-pink__benefits-list {
  @include flex-column;
  align-items: center;
  justify-content: center;
  width: 255px;
  padding: 12px 0 0 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet-version) {
  .grid-for-why-pink__benefits-list {
    width: 311px;
    margin-right: 0;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-why-pink__benefits-list {
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.grid-for-why-pink__benefits-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-version) {
  .grid-for-why-pink__benefits-list-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-why-pink__benefits-list-wrapper {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.grid-for-why-pink__benefit {
  @include flex-column;
  align-items: center;
  justify-content: center;
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-version) {
  .grid-for-why-pink__benefit {
    align-items: flex-start;
    margin-top: 5px;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-why-pink__benefit {
    max-width: 245px;
    align-items: center;

    &:last-child {
      margin-right: 5px;
    }
  }
}

.grid-for-why-pink__benefits-image {
  margin-top: 0;
}

@media (min-width: $tablet-version) {
  .grid-for-why-pink__benefits-image {
    margin-top: -50px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-why-pink__benefits-image {
    margin-top: -80px;
    margin-left: 0;
    margin-bottom: 36px;
  }
}

.grid-for-why-pink__last-benefit {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 65px;
}

@media (min-width: $desktop-version) {
  .grid-for-why-pink__last-benefit {
    padding-top: 35px;
  }
}

.grid-for-why-pink__last-benefit-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $desktop-version) {
  .grid-for-why-pink__last-benefit-wrapper {
    justify-content: flex-start;
    margin: 0;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-why-pink__last-benefit-header {
    width: 330px;
  }
}

.grid-for-why-pink__last-benefit-container {
  max-width: 312px;
  padding-top: 34px;
}

@media (min-width: $desktop-version) {
  .grid-for-why-pink__last-benefit-container {
    max-width: 525px;
    margin-top: 90px;
    margin-left: 67px;
    padding-top: 0;
  }
}

/*grid-for-photos-users*/
.grid-for-photos-users {
  @include flex-column;
  align-items: center;
}

.grid-for-photos-users__item {
  @include flex-column;
  align-items: center;
  margin: 0 0 21px 0;

  &--panorama {
    position: relative;
  }
}

@media (min-width: $tablet-version) {
  .grid-for-photos-users__item {
    &--panorama {
      margin: 0 0 50px 0;
    }

    &--in-container {
      width: 300px;
      min-height: 455px;
    }
  }
}

@media (min-width: $desktop-version) {
  .grid-for-photos-users__item {
    &--in-container {
      margin: 0 0 53px 0;
      min-height: 555px;
    }
  }
}

.grid-for-photos-users__signature {
  margin-top: 45px;
  margin-bottom: 50px;
}

@media (min-width: $tablet-version) {
  .grid-for-photos-users__signature {
    margin-top: 92px;
    margin-bottom: 76px;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-photos-users__signature {
    margin-bottom: 88px;
  }
}

.grid-for-photos-users__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (min-width: $tablet-version) {
  .grid-for-photos-users__container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.grid-for-photos-users__custom-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
}

@media (min-width: $tablet-version) {
  .grid-for-photos-users__custom-data {
    height: 100%;
    width: 100%;

    &--panorama {
      position: relative;
      min-height: 120px;
      width: 620px;
    }
  }
}

@media (min-width: $desktop-version) {
  .grid-for-photos-users__custom-data {
    &--panorama {
      min-height: 96px;
      width: 940px;
    }
  }
}

/*grid-for-main*/
@media (min-width: $tablet-version) {
  .grid-for-main {
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-main {
    margin-bottom: 0;
  }
}

/*grid-for-footer*/
.grid-for-footer {
  padding-top: 20px;
}

@media (min-width: $tablet-version) {
  .grid-for-footer {
    padding-top: 0;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-footer {
    margin-bottom: 75px;
  }
}

.grid-for-footer-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-version) {
  .grid-for-footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.grid-for-footer__logo {
  padding-bottom: 39px;
}

@media (min-width: $tablet-version) {
  .grid-for-footer__logo {
    padding-bottom: 0;
  }
}

.grid-for-footer__social {
  margin-bottom: 31px;
}

@media (min-width: $tablet-version) {
  .grid-for-footer__social {
    margin-bottom: 0;
  }
}

/*grid-for-form*/
.grid-for-form {
  padding-top: 45px;
}

@media (min-width: $tablet-version) {
  .grid-for-form {
    padding-top: 91px;
  }
}

.grid-for-form__head {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-version) {
  .grid-for-form__head {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-form__head {
    margin-bottom: 70px;
  }
}

.grid-for-form__user-initials {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-version) {
  .grid-for-form__user-initials {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.grid-for-form__emotions {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 46px;
}

@media (min-width: $tablet-version) {
  .grid-for-form__emotions {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 66px;
  }
}

.grid-for-form__sending {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-version) {
  .grid-for-form__sending {
    margin: 0;
  }
}

.grid-for-form__what-application {
  margin: 0;
}

@media (min-width: $tablet-version) {
  .grid-for-form__what-application {
    margin-bottom: 56px;
  }
}

.grid-for-form__contacts {
  margin: 0 20px;
}

@media (min-width: $tablet-version) {
  .grid-for-form__contacts {
    margin: 0 0 56px;
  }
}

.grid-for-form__achievement {
  margin: 0;
}

@media (min-width: $tablet-version) {
  .grid-for-form__achievement {
    margin-bottom: 56px;
  }
}

/*program-interface*/
.grid-for-program-interface {
  @include flex-column;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-version) {
  .grid-for-program-interface {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $desktop-version) {
  .grid-for-program-interface {
    padding-left: 80px;
    margin: 0;
  }
}
